<!-- Page Content -->
<div class="container">

  <mejor-header patient="main.patient" book-now="main.bookNow"></mejor-header>

  <!-- Page Features -->
  <div class="row text-center">
    <div ng-repeat="index in [1, 2, 3, 4]" class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="http://placehold.it/500x325" alt="">
        <div class="card-block">
          <h4 class="card-title">Card title {{index}}</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus
            neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <create-patient patient="main.patient" save="main.createPatient"></create-patient>

</div>
<!-- /.container -->
